@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

*{
    padding: 0;
    margin: 0;
}




html, body{
    overflow:hidden;
    height:100%;
}



.glow {
    font-size: 3vw;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    z-index: 100;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.container{
    height:100%;
    background: url("images/helloworld.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.blacklayer{
    background: rgba(0, 0, 0, 0.5);
    height:100%;
    
}


.maintext{
    
    color:rgb(0, 0, 0);
    font-size:2vw;
    text-align:center;
    
}

h2{
    padding-left: 1.5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.yourname{
    color:rgb(223, 219, 219);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1vw;
    letter-spacing: 5px;
    font-weight:100;
    word-spacing: 2px;
}

audio{
    width:100vw;
    opacity: 0.5;
    height:6%;
    background:#fff;
    
}

.bottomcontrol{
    position:absolute;
    text-align: center;
    flex-direction: column;
    display:flex;
    justify-content:space-around;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    bottom:0;
    opacity: 0.9;
    width: 100vw;
    height: 7%;
    /* background: black; */
}

#currentsong{
  text-align: center;
  
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 2px;
}

@media only screen and (max-width:940px){

    .glow{
        font-size:5vw;
    }
    p{
        font-size:2vw;
    }

}

@media only screen and (max-width:480px){

    .glow{
        font-size:8vw;
    }
    .yourname{
        font-size:3vw;
    }

}

